<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <link rel="stylesheet" href="..\static\styles\donate.css">
    
        <style>
            /* Additional CSS for the label */
            .amount-label {
                display: block;
                margin-bottom: 5px; /* Add some space between the label and input */
            }
        </style>
    
</head>
<body>
    <div class="donate-box">
        <h2></h2>
        <form action="donate" method="post">
            <button type="submit" class="price-button">Donate Now</a>
        </form>
            <h2></h2>
    </div>
    <div class="boxes-container">
            <h2></h2>
            <a href="#" class="price-button">£5</a>
            <h2></h2>
            <a href="#" class="price-button">£10</a>
            <h2></h2>
            <a href="#" class="price-button">£20</a>
    </div>
    
    </div>
    </div>
    <br> <!-- Line break added here -->
    <div class="amount-box">
        <label for="amount" class="amount-label">Other Amount</label>
        <input type="number" id="amount" name="amount" placeholder="Enter amount...">
    </div>

    <br> <!-- Line break added here -->
    
        <!-- Other content -->
        <div class="payment-boxes">
            <div class="pay-box">
                <img src="..\static\images\apple.png" alt="Apple Pay" class="apple-pay-image">
                <span class="payment-text">Apple Pay</span>  
        
            </div>
            <div class="gpay-box">
        
                <img src="..\static\images\google.png" alt="Apple Pay" class="google-pay-image">
                <span class="payment-text">Google Pay</span>
            </div>
            <div class="cpay-box">
                <img src="..\static\images\card.jpg" alt="Apple Pay" class="card-pay-image">
                <span class="payment-text"> Pay</span> 
            </div>
        </div>
        <!-- Other content -->
    
    
    
</body>
</html>
