<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="..\static\styles\login.css">
  </head>
  <body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" action="login" method="post">
                    <div class="login__field">
                        <input id="name" type="text" class="login__input" placeholder="Name">
                    </div>
                    <div class="login__field">
                        <input id="email" type="password" class="login__input" placeholder="Email">
                    </div>
                    <div class="login__field">
                        <input id="charity name" type="charity name" class="login__input" placeholder="Charity Name (Optional)">
                    </div>
                    <div class="login__field">
                        <input id="password" type="password" class="login__input" placeholder="Password">
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Submit</span>
                    </button>				
                </form>
            </div>
        </div>
    </div>
  </body>
</html>