<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="..\static\styles\jobs.css">
  </head>
  <body>
    <div class="topnav">
        <p class="title">Opportunity</p>
    </div>
    <div>
        <table>
            <tr>
                <td rowspan="1"><button><a class="button">Volunteer</a></button></td>
                <td>Help with Lily's baking fundraiser!</td>
              </tr>
              <tr>
                <td rowspan="1"><button><a class="button">Volunteer</a></button></td>
                <td>Groceries for Lily</td>
              </tr>
              <tr>
                <td rowspan="1"><button><a class="button">Volunteer</a></button></td>
                <td>Game night</td>
              </tr>
          </table> 
    </div>
  </body>
</html>