<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="..\static\styles\volunteering.css">
  </head>
  <body>
    <div id="header-container">
      <h1>Volunteer</h1>
    </div>
    
    <div id="upper-section-container">
      
      <div class="topnav">
        <img id="arabella-image"src="..\static\images\Smiles+from+Arabella.jpeg">
          <p class="title">Meet Arabella</p>
      </div>
      <div id="story-container">
        <p id="story-text">This is Arabella who is under our services and has found a safe space and built a sense of community. She is blossoming and Flourishing due to all the help Diverse Abilities provides.</p>
      </div>
    </div>
    
    <div id="opportunities-container">
      <h2 id="opportunities-title">Opportunities to help</h2>
          <div class="opportunities">
            <p>Help with Lily's baking fundraiser!</p>
            <button class="volunteer-button"><a >Volunteer</a></button>
          </div>
          <div class="opportunities">
            <p>Groceries for Lily</p>
            <button class="volunteer-button"><a >Volunteer</a></button>
            
          </div>
          <div class="opportunities">
            <p>Game night</p>
            <button class="volunteer-button"><a ">Volunteer</a></button>
          </div>
    </div>
  </body>
</html>