/* General */

*{
    border: 0;
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    background-color: #0078B7;
    
}
button{
    border: solid 0.1rem #000c4195;
    border-radius: 1.5rem;
    background-color: transparent;
    font-family: 'Questrial', sans-serif;
    width: 4.6rem;
    height: 2.4rem;
    cursor: pointer;
}




/* Home Section  */
#logo{
    width: 17rem;
}

#navbar{
    width:100%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.navbar-items:hover{
    transform: scale(1.075);
    transition: 0.15s ease-in-out;
}
.navbar-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-right{
    width: 40%;
}

.navbar-right-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-buttons{
    width: 5.9rem;
    height: 2.6rem;
    border-color: #ED1266;
    border-width: 0.085rem;
    transition: 0.15s ease-in-out;
}

.navbar-buttons:hover{
    background-color: #ED1266;
    color: white;
    
}

#donate-button{

    background-color: #ED1266;
    color: white;
}
#donate-button:hover{
    background-color: white;
    color: #ED1266;
}


/* First Section */
#main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ED1266;
}

.container-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.container-right{
width: 50%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

#heading{
    color: white;
    margin-left: 3rem; 
}
/* Share your stroy Section  */

#share-your-story-heading-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#share-your-story-heading{
    font-size: 5rem;
    color: white;
    margin-top: 5rem;
}

#share-your-story-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#share-form{
    /* width: 5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#share-form-button{
    margin-left:auto;
    color:white;
    background-color:#0078B7 ;
    border: 1px solid white;
    border-radius: 0.2rem;
}
#share-form-button:hover{
    color:#0078B7 ;
    background-color: white;
}


/* Carousel Container */


.carousel-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 50rem;
    width: 50rem;
    background-color: #0078B7;
}

/* Donate Section  */
.donate-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ED1266;
    color: white;
}

#donate-button-footer{
    width: 8rem;
    height: 4rem;
    margin-top: 5rem;
}

#donate-button-footer:hover{
    background-color: white;
    color:  #ED1266;
    border-color: #ED1266;
}